@import url("https://fonts.googleapis.com/css2?family=Borel&family=Lugrasimo&family=Open+Sans:wght@500&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  overflow: hidden;
}

/*main*/
.mainbar {
  width: 100vh;
  height: 100vh;
}

.video {
  height: 100vh;
  width: 100%;
}

#videobcg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: -1000;
  object-fit: cover;
}

.timeBar {
  position: absolute;
  width: 20rem;
  height: 20rem;
  top: 6.5rem;
  right: 1rem;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeBar-progress {
  position: relative;
  width: 18rem;
  height: 18rem;
  background: conic-gradient(#fff 3deg, transparent 0deg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.timeBar-progress::before {
  content: "";
  position: absolute;
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  background-color: #242121;
  box-shadow: 0 0 0.5px 0.5px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time, .date {
  font-size: 1.7rem;
  color: white;
  z-index: 1000;
}

.time {
  font-size: 2rem;
  font-weight: 700;
}

/*Deletes Bar*/
.details {
  position: absolute;
  width: 40rem;
  height: 20rem;
  bottom: 5rem;
  left: 10rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(5px);
}

.details-head {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-head h2 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Lugrasimo", cursive;
}

.details-body {
  width: 100%;
  height: 50%;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
}

.auto-play {
  font-size: 1.6rem;
}

.linkButton {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.linkButton button {
  padding: 0.25rem 0.75rem;
  border: 1px solid white;
  border-radius: 5px;
  background: none;
  box-shadow: 0 3px 0 rgb(209, 209, 209);
}
.linkButton button:active {
  box-shadow: 0 1px 0 rgb(209, 209, 209);
  transform: translateY(2px);
}

@media screen and (max-width: 760px) {
  html, body {
    font-size: 55%;
  }
  .nav-right {
    position: absolute;
    flex-direction: column;
    top: 10rem;
    left: -100%;
    transition: 0.4s;
  }
  .nav-right li {
    padding: 1rem 0;
  }
  .left {
    left: 1rem;
  }
  .toolbar {
    display: inline;
    font-size: 2rem;
    color: white;
    margin-right: 1.5rem;
  }
}
@media screen and (max-width: 430px) {
  html, body {
    font-size: 48%;
  }
  .name-my {
    font-size: 1.8rem;
    font-weight: 800;
  }
  .details {
    left: 7rem;
  }
}

/*# sourceMappingURL=style.css.map */
